.cardWrapper{
    position: relative;
    margin-bottom: 40px;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    &:hover {
        cursor: pointer;
    }
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card-body{
    overflow: hidden;
}

.portraitImg{
    height: 250px;
    object-fit: cover;
}

.popUpText{
    text-decoration: none;
    position: absolute;
    bottom: 27px;
    right: 20px;
    color: #757575;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0;
    &:hover{
        transition: 0.2s all;
        color: #212121;
    }
}

.recordingBtn{
    width: 100%;
    text-transform: uppercase;
    border-radius: 0;
    &:hover{
        background: rgb(0, 131, 143);
        color: #fff;
        transition: 0.2s all;
    }
}

.noFound{
    text-align: center;
    color: #424242;
    margin: 0 auto;
}