<div class="container col cardsContainer">

  <div class="cardContainer col-xs-12 col-sm-6 col-md-6 col-lg-4 px-xs-3 px-md-4 px-xl-5" *ngFor="let doctor of doctors">
    <div class="card col cardWrapper p-0" appDoctorHover [routerLink]="['./doctor', doctor._id]">
      <img class="card-img-top rounded-0 portraitImg" src="{{doctor.avatar}}" alt="Portrait">
      <div class="card-body">
        <h5 class="card-title text-truncate">{{doctor.surename}}<br />{{doctor.name}}</h5>
        <p class="card-text text-truncate">{{doctor.career}}</p>
        <p>{{doctor.position}}</p>
      </div>
    </div>
  </div>
</div>


<!-- queryParamsHandling="preserve" -->