.avatar {
  border-radius: 50%;
  width: 300px;
  height: 250px;
}

.avatarImg{
  height: 250px;
  object-fit: cover;
}

.profile{
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  border-bottom: 1px solid;
}

.main-information{
  flex-basis: 60%;
}

.doctor-name{
  margin-right: 20px;
}

.appointment-section{
  display: flex;
}

.doctor-label{
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-weight: 500;
  background: #007bff;
  color: white;
  border-radius: 10px;
}

.head-name{
  font-weight: 500;
}

.thin-text{
  font-weight: 200;
}

.form-header{
  text-align: center;
  margin-top: 10px;
}

.form-registration{
  margin: 0 auto;
  width: 45%;
}

.spec{
  margin-bottom: 40px;
}
