.footerItem {
    border-right: 2px solid;
    padding: 0 10px;
    color: rgb(250, 250, 250);
    text-decoration: none;
}

.footerElement {
    text-align: center;
    background-color: #b0bec5;
    height: 80px;
}

.footerItem:last-child {
    border: none;
}
