.header-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 60px;
    padding-top: 10px;
    background: white;
    color: #607d8b;
    box-shadow: 0 3px 20px 0 rgb(88, 85, 85);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    text-align: center;
    width: 40%;
}

.logoName {
    font-size: 1.5em;
    padding-top: 0;
    /*color: black;*/
    background: -webkit-linear-gradient(white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.logoImg {
    /* width: 100%; */
    width: 50px;
}

.menuItem {
    padding: 0 10px;
}

.menuItem a {
    color: rgb(1, 88, 155);
}

.menuItem:hover a {
    color: #29b6f6;
    transition: 0.2s all;
}

.menuItem .active{
    color: #29b6f6;
}

.loginMenuElement {
    text-align: center;
}

.signUp, .logIn{
    padding: 0;
}

.signUp:hover, .logIn:hover {
    color: black;
}
