<div class="container-fluid header-wrapper">

    <div class="d-flex flex-row align-items-start p-0">
        <!-- <a class="navbar-brand logo" href="#">
          <img [src]="menuItems.logo" class="logoImg">
        </a> -->
        <a href="" class="navbar-brand logoName">{{menuItems.clinicName}}</a>
    </div>

    <div class="col-md-7 col-lg-7 d-flex flex-row align-items-start p-0">
        <nav class="navbar navbar-expand-md menu p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item menuItem">
                        <a class="nav-link" (click)="showMenu()" [ngClass]="{mainPage: isShow}" routerLink=""
                           routerLinkActive="active">{{menuItems.main}}</a>
                    </li>
                    <li class="nav-item menuItem" *ngIf="!isShow">
                        <a class="nav-link" (click)="showBreadcrumb()" routerLink="/services" routerLinkActive="active">{{menuItems.services}}</a>
                    </li>
                    <li class="nav-item menuItem" *ngIf="!isShow">
                        <a class="nav-link" (click)="showBreadcrumb()" routerLink="/specialists"
                           routerLinkActive="active">{{menuItems.doctors}}</a>
                    </li>
                    <li class="nav-item menuItem" *ngIf="!isShow">
                        <a class="nav-link" (click)="showBreadcrumb()" routerLink="/news" routerLinkActive="active">{{menuItems.news}}</a>
                    </li>
                    <li class="nav-item menuItem" *ngIf="!isShow">
                        <a class="nav-link" (click)="showBreadcrumb()" routerLink="/about" routerLinkActive="active">{{menuItems.about}}</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="isShow">
                <app-breadcrumb></app-breadcrumb>
            </div>
        </nav>
    </div>

    <div class="col-md-3 col-lg-3 p-0">
        <div class="loginMenuElement d-flex flex-row justify-content-end p-0" *ngIf=" this.chechUserObject()==null">
            <app-sign-up [menuItems]="menuItems" class="signUp"></app-sign-up>
            <app-log-in [menuItems]="menuItems" class="logIn"></app-log-in>
        </div>
        <div class="userMenuElement d-flex flex-row justify-content-end p-0" *ngIf=" this.chechUserObject()!==null">
            <a class="userAccount nav-item menuItem" routerLink="/user" routerLinkActive="active">{{menuItems.user}}</a>
            <a class="userExit" href="#" (click)="userExit()">{{menuItems.exit}}</a>
        </div>
    </div>

</div>
