<div class="container-fluid p-0">
    <div class="col p-0">
            <div class="tmb">
                    <a href="#">
                        <img [@imgState]="idi === counter ? 'active': getState()" *ngFor="let img of images.pictures;let idi=index" [src]="img"(mouseenter)="mouseEnterSpan()" (mouseleave)="mouseLeaveSpan()" />
                        <h3 [@imgState]="idi === counterText ? 'active': getState()" *ngFor="let text of images.textH1;let idi=index">{{text}}</h3>
                        <p  [@imgState]="idi === counterInfo ? 'active': getState()" *ngFor="let textInfo of images.textInfo;let idi=index">{{textInfo}}</p>
                    </a>
                </div>
                <div id="carousel-btn" class="carousel-btn span-btn-none">
                    <span  class="btn-change-inc" (mouseenter)="mouseEnterSpan()" (mouseleave)="mouseLeaveSpan()" (click)="onClickInc()">&#x3e;</span>
                    <span class="btn-change-dec" (mouseenter)="mouseEnterSpan()" (mouseleave)="mouseLeaveSpan()" (click)="onClickDec()">&#x3c;</span>
                </div>
                <div class="indecators">
                    <button [class.active]="isActive('btn0')" (click)="setActive('btn1')" (click)="onClickItem($event)" value="0" class="indecator-1"></button>
                    <button [class.active]="isActive('btn1')" (click)="setActive('btn2')" (click)="onClickItem($event)" value="1" class="indecator-2"></button>
                    <button [class.active]="isActive('btn2')" (click)="setActive('btn3')" (click)="onClickItem($event)" value="2" class="indecator-3"></button>
                    <button [class.active]="isActive('btn3')" (click)="setActive('btn4')" (click)="onClickItem($event)" value="3" class="indecator-4"></button>
                    <button [class.active]="isActive('btn4')" (click)="setActive('btn5')" (click)="onClickItem($event)" value="4" class="indecator-5"></button>
                </div>

    </div>
</div>
