.tmb{
    position: relative;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tmb img{
    position: absolute;
    width: 95%;
    left: 2.3%;
    height: 450px;
}
.tmb h3{
    position: absolute;
    top: 75%;
    left: 7%;
    width: 85%;
    font-style: italic;
    padding-left: 8px;
    background-color:rgba(255, 255, 255, 0.5);
}
.tmb p{
    position: absolute;
    top: 83%;
    left: 7%;
    width: 85%;
    padding-left: 8px;
    background-color:rgba(255, 255, 255, 0.5);
}
a{
    text-decoration: none;
    color: rgb(120, 107, 192);
}
.carousel-btn{
    cursor: pointer;
}
.btn-change-dec{
    position: absolute;
    top:0;
    padding-top: 180px;
    left: 1.8%;
    height: 450px;
    width: 60px;
    font-size: 75px;
    background-color: white;
    opacity: 0.4;
}
.btn-change-inc{
    position: absolute;
    top:0;
    padding-top: 180px;
    height: 450px;
    width: 60px;
    font-size: 75px;
    right: 2.5%;
    background-color: white;
    opacity: 0.4;
}

.indecator-1{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 45%;
    background-color: initial;;
    border-radius: 50%;
    border: 1px solid #ccc;
    top: 410px;
}

.indecator-2{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 47%;
    background-color: initial;;
    border-radius: 50%;
    border: 1px solid #ccc;
    top: 410px;
}

.indecator-3{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 49%;
    background-color: initial;;
    border-radius: 50%;
    border: 1px solid #ccc;
    top: 410px;
}

.indecator-4{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 51%;
    background-color: initial;
    border-radius: 50%;
    border: 1px solid #ccc;
    top: 410px;
}

.indecator-5{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 53%;
    background-color: initial;
    border-radius: 50%;
    border: 1px solid #ccc;
    top: 410px;
}
.indecators button:hover,
.active{
    background-color: white;
}

.span-btn-none{
    display: none;
}