<div class="divServices">
  <button (click)="switcher('isOpen')"><i [ngClass]="status1 ? 'down' :'right' "></i>Консультації</button>
  <ul [@ulState]="isOpen ? 'open' : 'closed'">
    <li *ngFor="let doctor of servicesList.doctors"><a [routerLink]="['./doctors']" [queryParams]="{serviceType: doctor.profession}">{{doctor.name}}</a></li>
  </ul>

  <button (click)="switcher('isOpenKomplex')"><i [ngClass]="status2 ? 'down' : 'right'"></i>Комплексні обстеження</button>
  <ul [@ulState]="isOpenKomplex ? 'open' : 'closed'">
    <li *ngFor="let complexItem of servicesList.complex"><a [routerLink]="['./doctors']" [queryParams]="{serviceType: complexItem.type}">{{complexItem.name}}</a></li>
  </ul>

  <button (click)="switcher('isOpenDiagnostic')"><i [ngClass]="status3 ? 'down' : 'right'"></i>Діагностика</button>
  <ul [@ulState]="isOpenDiagnostic ? 'open' : 'closed'">
    <li *ngFor="let diagnositicItem of servicesList.diagnositic"><a [routerLink]="['./doctors']" [queryParams]="{serviceType: diagnositicItem.type}">{{diagnositicItem.name}}</a></li>
  </ul>

  <button (click)="switcher('isOpenAnaliz')"><i [ngClass]="status4 ? 'down' : 'right'"></i>Аналізи</button>
  <ul [@ulState]="isOpenAnaliz ? 'open' : 'closed'">
    <li *ngFor="let analizItem of servicesList.analiz"><a [routerLink]="['./doctors']" [queryParams]="{serviceType: analizItem.type}">{{analizItem.name}}</a></li>
  </ul>

  <button (click)="switcher('isOpenVakcina')"><i [ngClass]="status5 ?'down' : 'right'"></i>Вакцинація</button>
  <ul [@ulState]="isOpenVakcina ? 'open' : 'closed'">
    <li *ngFor="let vakcinaItem of servicesList.vakcina"><a [routerLink]="['./doctors']" [queryParams]="{serviceType: vakcinaItem.type}">{{vakcinaItem.name}}</a></li>
  </ul>

</div>