button{
    margin: 0 auto;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #29b6f6;
    color: white;
    text-align: center;
    font-size: 25px;
    border: 0;
    box-shadow: 0 10px 6px -6px #777;
    position: relative;
}
button:focus {
    outline: none;
}

button + ul{
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #1165de;
    border-right: 1px solid #1165de;
    border-bottom: 1px solid #1165de;
    width: 85%;
    margin: 0 auto;
}
li:last-child{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

li:hover{
    background-color: #c6c8c9;
}

a{
    font-size: 20px;
}
a:hover{
    text-decoration: none;
}


.divServices{
    margin-top: 72px;
    min-height: calc(82vh - 37px);
    text-align: center;
}

i {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    position: absolute;
    top: 19px;
    left: 10px;
    height: 18px;
    width: 18px;
  }

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
}