:host{
  padding: 20px 0;
}

*{
  box-sizing: border-box;
}

.card {
  width: 90%;
  margin: auto;
  color: rgb(250, 250, 250);
  position: relative;
  border-radius: 0;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  & .card__link{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}

.card__image-container {
  width: 100%;
  height: 360px;
  & .card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card__button {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  background: rgba(54, 54, 54, 0.6);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

  //*** Instead using Angular [hover] Directive (on-hover-link-button.directive.ts)***
  // &:hover {
  //   transition: 0.2s all;
  //   background: rgba(54, 54, 54, 0.75);
  // }

}

.card__subscribe {
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 70px;
  background: rgba(54, 54, 54, 0.75);
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.3), 0 -6px 20px 0 rgba(0, 0, 0, 0.2);
}
