.modalBtn {
    border-radius: 50%;
    position: fixed;
    bottom: 70px;
    left: 40px;
    background: -webkit-linear-gradient(#fbc315, #fded1a);
    color: white;
}

.modalBtn:hover {
    background: -webkit-linear-gradient(#fded1a, #fffea5);
}
