.modalBtn {
  border-radius: 8px;
  position: fixed;
  bottom: 40px;
  left: 20px;
  background: rgba(0, 150, 167, 0.877);
  width: 200px;
  height: 40px;
  color: white;
  font-size: 1rem;
  padding: 0;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.modalBtn:hover {
  color: white;
  background: rgb(0, 150, 167);
  transition: 0.2s all;
}

.leaveContactHeader {
  text-align: center;
  background: rgba(0, 150, 167, 0.15);
}

.sendMessageButton {
  background: rgba(0, 150, 167, 0.15);
}

.sendMessageButton:hover {
  color: white;
  background: rgba(0, 150, 167, 0.39);
}