.modalBtn {
    border-radius: 0%;
    position: fixed;
    bottom: 50px;
    left: 20px;
    background: #0097a7;
    width: 200px;
    height: 30px;
    color: white;
    font-size: 1rem;
    padding: 0;
    text-align: center;
}

.modalBtn:hover {
    background: rgb(56, 142, 60);
}
