<ng-template #content let-modal>
  <div class="modal-header leaveContactHeader">
    <p class="modal-title " id="modal-basic-title">Залиште контакти і ми зв'яжемося з Вами найближчим часом!</p>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <p>ПІБ:</p>
      <input class="form-control" type="text" name='name' [ngModel]="userInfo.name"/>
      <p>Номер телефону:</p>
      <input class="form-control" type="tel" name='tel' #tel="ngModel" [ngModel]="userInfo.phone"/>
      <p>Електронна адреса:</p>
      <input class="form-control" type="email" name='email' #email="ngModel" [ngModel]="userInfo.email"/>
      <p>Додаткова інформація:</p>
      <textarea class="form-control" maxlength="150" cols="50" rows="4"></textarea>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn sendMessageButton"
            (click)="modal.close('Save click'); sendMessage(tel.viewModel, email.viewModel)">Надіслати
    </button>
  </div>
</ng-template>

<button class="btn  modalBtn" (click)="open(content)" *ngIf="visible">Замовити дзвінок</button>

